body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.reloj {
    font-size: 50px;
}

.fecha {
    background-color: rgba(0, 0, 255, 0.313);
    border-radius: 10px;
}

.hora {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.311);
    border-radius: 10px;
}

.hora-minutos {
    font-size: 1.5em;
}

.segundos-ampm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    font-size: 1.5em;
    line-height: 1;
}

.am-pm {
    font-size: 0.6em;
    margin-bottom: -0.25em;
}

.segundos {
    font-size: 0.8em;
}